<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" p:location="file:test.properties" />

    <bean id="testUser" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.user:}" />
    </bean>

    <bean id="testPassword" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.password:}" />
    </bean>

    <bean id="testPasswordApiV3" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.passwordApiV3:}" />
    </bean>

    <bean id="remoteWebDriver" class="java.lang.Boolean">
        <constructor-arg type="java.lang.String" value="${test.selenium.remoteWebDriver:}" />
    </bean>

    <bean id="remoteAddress" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.remoteAddress:}" />
    </bean>

    <bean id="browser" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.browser:chrome}" />
    </bean>

    <bean id="uploadFilesPath" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.uploadFilesPath:}" />
    </bean>

    <bean id="defaultTimeout" class="java.lang.Long">
        <constructor-arg type="java.lang.String" value="${test.selenium.defaultTimeout:100}" />
    </bean>

    <bean id="screenshotsPath" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.screenshotsPath:}" />
    </bean>

    <bean id="ciAddr" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.ciAddr:}" />
    </bean>

    <bean id="testName" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${testName:}" />
    </bean>

    <bean id="restApiCredential" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.restApiCredential:}" />
    </bean>

    <bean id="restApiUrl" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.restApiUrl:}" />
    </bean>

    <bean id="restApiVersion" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.restApiVersion:}" />
    </bean>

    <bean id="headlessMode" class="java.lang.Boolean">
        <constructor-arg type="java.lang.String" value="${test.selenium.headlessMode:}" />
    </bean>

    <bean id="serverUrl" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${test.selenium.serverUrl:}" />
    </bean>

    <import resource="classpath:com/onevizion/uitest/api/beans.xml" />

    <context:component-scan base-package="com.onevizion.guitest" />

</beans>